Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [1]:
import pandas as pd
import numpy as np

In [124]:
horse_data = pd.read_csv('horse_data.csv', header = None, na_values=['?'])

In [125]:
horse_data.columns = ['1_surgery?', '2_Age', '3_Hospital Number', '4_rectal_temperature', '5_pulse', '6_respiratory_rate',
                      '7_temperature_of_extremities', '8_peripheral pulse', '9_mucous membranes',  '10_capillary refill time',
                      '11_pain', '12_peristalsis', '13_abdominal distension', '14_nasogastric tube', '15_nasogastric reflux',
                      '16_nasogastric reflux PH', '17_rectal examination', '18_abdomen', '19_packed cell volume',
                      '20_total protein', '21_abdominocentesis appearance', '22_abdomcentesis total protein', '23_outcome', 
                      '24_surgical lesion?','25_type of lesion', '26_type of lesion', '27_type of lesion', '28_cp_data']
horse_data.head(1)

,1_surgery?,2_Age,3_Hospital Number,4_rectal_temperature,5_pulse,6_respiratory_rate,7_temperature_of_extremities,8_peripheral pulse,9_mucous membranes,10_capillary refill time,...,19_packed cell volume,20_total protein,21_abdominocentesis appearance,22_abdomcentesis total protein,23_outcome,24_surgical lesion?,25_type of lesion,26_type of lesion,27_type of lesion,28_cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2

In [126]:
short_hd = horse_data[['1_surgery?', '2_Age', '4_rectal_temperature', '5_pulse', '6_respiratory_rate', '7_temperature_of_extremities', '11_pain', '23_outcome']]
short_hd.head()

,1_surgery?,2_Age,4_rectal_temperature,5_pulse,6_respiratory_rate,7_temperature_of_extremities,11_pain,23_outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [127]:
short_hd.describe()

,1_surgery?,2_Age,4_rectal_temperature,5_pulse,6_respiratory_rate,7_temperature_of_extremities,11_pain,23_outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [128]:
q1 = short_hd['6_respiratory_rate'].quantile(0.25)
q3 = short_hd['6_respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = short_hd[short_hd['6_respiratory_rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('6_respiratory_rate')
remove_outliers

,1_surgery?,2_Age,4_rectal_temperature,5_pulse,6_respiratory_rate,7_temperature_of_extremities,11_pain,23_outcome
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
140,1.0,1,38.1,44.0,9.0,3.0,2.0,1.0
89,2.0,1,38.3,42.0,10.0,1.0,1.0,1.0
162,2.0,1,39.5,60.0,10.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...
220,1.0,1,39.2,88.0,58.0,4.0,5.0,3.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
248,1.0,1,38.0,108.0,60.0,2.0,4.0,1.0

In [129]:
# что это за выброс?
pd.concat([short_hd, remove_outliers]).drop_duplicates(keep=False)

,1_surgery?,2_Age,4_rectal_temperature,5_pulse,6_respiratory_rate,7_temperature_of_extremities,11_pain,23_outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

Выбросы проверил только по respiratory_rate, так как согласно google все остальные параметры вполне нормальны.

Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [130]:
short_hd.isna().sum()

1_surgery?                       1
2_Age                            0
4_rectal_temperature            60
5_pulse                         24
6_respiratory_rate              58
7_temperature_of_extremities    56
11_pain                         55
23_outcome                       1
dtype: int64

In [270]:
filled_hd = pd.read_csv('horse_data.csv', header = None, na_values=['?'])
filled_hd.columns = ['1_surgery?', '2_Age', '3_Hospital Number', '4_rectal_temperature', '5_pulse', '6_respiratory_rate',
                      '7_temperature_of_extremities', '8_peripheral pulse', '9_mucous membranes',  '10_capillary refill time',
                      '11_pain', '12_peristalsis', '13_abdominal distension', '14_nasogastric tube', '15_nasogastric reflux',
                      '16_nasogastric reflux PH', '17_rectal examination', '18_abdomen', '19_packed cell volume',
                      '20_total protein', '21_abdominocentesis appearance', '22_abdomcentesis total protein', '23_outcome', 
                      '24_surgical lesion?','25_type of lesion', '26_type of lesion', '27_type of lesion', '28_cp_data']
filled_hd = filled_hd[['1_surgery?', '2_Age', '4_rectal_temperature', '5_pulse', '6_respiratory_rate', '7_temperature_of_extremities', '11_pain', '23_outcome']]

Заменим пропущенное значение в столбцах 1_surgery? и 23_outcome на следующее, так как пропущено всего по одному значению, и разброс невелик, на общую статистику не повлияет.

In [273]:
filled_hd['1_surgery?'].fillna(method='ffill', inplace=True)
filled_hd['23_outcome'].fillna(method='ffill', inplace=True)

Заменим пропущенное значение в столбце 4_rectal_temperature на медианное значение, так как взаимосвязей с остальными столбцами не наблюдается.

In [274]:
filled_hd['4_rectal_temperature'].fillna(filled_hd['4_rectal_temperature'].median(), inplace=True)

Заменим пропущенное значение в столбце 5_pulse на медианное значение в зависимости от 2_Age.

Исходя из статистики получается, что все последующие параметры так или иначе зависят от 5_pulse, но для разнообразия укажем другие столбцы.

Заменим пропущенное значение в столбце 6_respiratory_rate на медианное значение в зависимости от 2_Age и 1_surgery.

Заменим пропущенное значение в столбце 7_temperature_of_extremities на медианное значение в зависимости от 11_pain.

Заменим пропущенное значение в столбце 11_pain на медианное значение в зависимости от 23_outcome.

In [323]:
filled_hd['5_pulse'].fillna(filled_hd.groupby('2_Age')['5_pulse'].transform('median'), inplace=True)
filled_hd["6_respiratory_rate"].fillna(filled_hd.groupby(["2_Age", "1_surgery?"])["6_respiratory_rate"].transform("median"), inplace = True)
filled_hd['11_pain'].fillna(filled_hd.groupby('23_outcome')['11_pain'].transform('median'), inplace=True)
filled_hd['7_temperature_of_extremities'].fillna(filled_hd.groupby('11_pain')['7_temperature_of_extremities'].transform('median'), inplace=True)

In [324]:
filled_hd.isna().sum()

1_surgery?                      0
2_Age                           0
4_rectal_temperature            0
5_pulse                         0
6_respiratory_rate              0
7_temperature_of_extremities    0
11_pain                         0
23_outcome                      0
dtype: int64